body {
  display: flex;
  justify-content: center;
  background: #ff7e5f;
  /* fallback for old browsers */
  background: -webkit-linear-gradient(to right, #feb47b, #ff7e5f);
  /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(to right, #feb47b, #ff7e5f);
  /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
}

.weatherCard {
  background-color: lightcyan;
  width: 400px;
  box-sizing: border-box;
  margin: 30px;
  padding: 20px;
  border-radius: 15px;
  display: none;
}

.show {
  display: block;
}

.weatherCard > p {
  width: 100%;
}

.info {
  font-size: 30px;
  font-weight: bold;
}

.infoApi {
  color: #ff7e5f;
}
